body {
  background-color: lightcyan;
  font-family: 'Londrina Shadow';
}

.container-color {
  color: black;
  font-size: 1.5em;
}

.column-modifier {
  background-color: azure;
  color: black;
}

.jumbo-modifier {
  background-color: azure;
  color: black;
}
